<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>LMDM</title>
		<link rel="stylesheet" href="/css/home.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/app.css" />
		<link rel="stylesheet" href="/dist/output.css" />
	</head>
	<body class="bg-gray-800" style="overflow-x: hidden">
		<header><%- include('../partials/topNav') %><%- include('../partials/sideNav') %></header>
		<main class="lg:ml-44 lg:mt-14"><%- body %></main>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
	</body>
</html>
