<%- layout('layout/boilerplate') %>
<link rel="stylesheet" href="/css/purpleDownDivide.css" />
<div class="row bg-purple justify-content-center">
	<div class="col-md-5 d-flex flex-column justify-content-center">
		<h1 class="display-1 font-weight-bold" style="font-weight: 900">
			Every Site Should Be <span class="text-white">Unique!</span>
		</h1>
	</div>
	<div class="col-md-5">
		<img class="img-fluid floating" src="images/standWithChart.svg" alt="Card image cap" />
	</div>
</div>
<div class="row">
	<svg
		width="100%"
		height="100%"
		id="svg"
		viewBox="0 0 1440 390"
		xmlns="http://www.w3.org/2000/svg"
		class="transition duration-300 ease-in-out delay-150"
	>
		<path
			d="M 0,400 C 0,400 0,100 0,100 C 130.29665071770336,111.0909090909091 260.5933014354067,122.18181818181817 341,121 C 421.4066985645933,119.81818181818183 451.92344497607655,106.36363636363636 533,99 C 614.0765550239234,91.63636363636364 745.7129186602871,90.36363636363636 866,92 C 986.2870813397129,93.63636363636364 1095.224880382775,98.18181818181817 1189,100 C 1282.775119617225,101.81818181818183 1361.3875598086124,100.9090909090909 1440,100 C 1440,100 1440,400 1440,400 Z"
			stroke="none"
			stroke-width="0"
			fill="#9500ff"
			fill-opacity="0.4"
			class="transition-all duration-300 ease-in-out delay-150 path-0"
			transform="rotate(-180 720 200)"
		></path>
		<path
			d="M 0,400 C 0,400 0,200 0,200 C 99.7416267942584,207.77033492822966 199.4832535885168,215.54066985645935 309,213 C 418.5167464114832,210.45933014354065 537.8086124401913,197.6076555023923 623,186 C 708.1913875598087,174.3923444976077 759.2822966507177,164.02870813397132 844,171 C 928.7177033492823,177.97129186602868 1047.0622009569379,202.2775119617225 1152,210 C 1256.9377990430621,217.7224880382775 1348.468899521531,208.86124401913875 1440,200 C 1440,200 1440,400 1440,400 Z"
			stroke="none"
			stroke-width="0"
			fill="#9500ff"
			fill-opacity="0.53"
			class="transition-all duration-300 ease-in-out delay-150 path-1"
			transform="rotate(-180 720 200)"
		></path>
		<path
			d="M 0,400 C 0,400 0,300 0,300 C 84.54545454545456,281.7799043062201 169.09090909090912,263.5598086124402 275,271 C 380.9090909090909,278.4401913875598 508.18181818181813,311.5406698564594 618,325 C 727.8181818181819,338.4593301435406 820.1818181818182,332.2775119617225 902,318 C 983.8181818181818,303.7224880382775 1055.090909090909,281.34928229665076 1143,277 C 1230.909090909091,272.65071770334924 1335.4545454545455,286.32535885167465 1440,300 C 1440,300 1440,400 1440,400 Z"
			stroke="none"
			stroke-width="0"
			fill="#9500ff"
			fill-opacity="1"
			class="transition-all duration-300 ease-in-out delay-150 path-2"
			transform="rotate(-180 720 200)"
		></path>
	</svg>
</div>
<div class="row justify-content-center">
	<div class="card-group col-8 py-5">
		<div class="card border-light">
			<img class="card-img-top" src="..." alt="Card image cap" />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					This is a wider card with supporting text below as a natural lead-in to additional
					content. This content is a little bit longer.
				</p>
			</div>
		</div>
		<div class="card border-light">
			<img class="card-img-top" src="..." alt="Card image cap" />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					This card has supporting text below as a natural lead-in to additional content.
				</p>
			</div>
		</div>
		<div class="card border-light">
			<img class="card-img-top" src="..." alt="Card image cap" />
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">
					This is a wider card with supporting text below as a natural lead-in to additional
					content. This card has even longer content than the first to show that equal height
					action.
				</p>
			</div>
		</div>
	</div>
</div>
