<%- layout('layout/boilerplate') %>
<link rel="stylesheet" href="/css/purpleUpDivide.css">
<div class="row d-flex justify-content-center w-100 mx-0">
    <div class="col-md-5 d-flex justify-content-center order-2 order-md-1">
            <img class="img-fluid floating" src="images/desk.svg" alt="Card image cap">
    </div>
    <div class="col-md-5 d-flex flex-column justify-content-center order-1 order-md-2">
        <h1 class="display-1 font-weight-bold" style="font-weight:900"><span class="text-purple">E&#8209;Commerce</span><br>Built By <span class="text-purple">You</span><br>For <span class="text-purple">You</span></h1>
        <form action="/features" class="">
            <button class="btn-outline-purple btn btn-lg align-sl">How to start</button>
        </form>
    </div>
</div>
<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><path d="M 0,400 C 0,400 0,100 0,100 C 78.97607655502392,99.03349282296651 157.95215311004785,98.066985645933 271,109 C 384.04784688995215,119.933014354067 531.1674641148326,142.76555023923444 629,133 C 726.8325358851674,123.23444976076556 775.377990430622,80.87081339712918 851,64 C 926.622009569378,47.12918660287081 1029.3205741626793,55.7511961722488 1132,66 C 1234.6794258373207,76.2488038277512 1337.3397129186603,88.1244019138756 1440,100 C 1440,100 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="#9500ff" fill-opacity="0.4" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><path d="M 0,400 C 0,400 0,200 0,200 C 68.48803827751195,218.7081339712919 136.9760765550239,237.41626794258374 239,229 C 341.0239234449761,220.58373205741626 476.58373205741634,185.04306220095694 582,175 C 687.4162679425837,164.95693779904306 762.6889952153111,180.41148325358853 851,186 C 939.3110047846889,191.58851674641147 1040.6602870813397,187.311004784689 1141,188 C 1241.3397129186603,188.688995215311 1340.6698564593303,194.3444976076555 1440,200 C 1440,200 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="#9500ff" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-1"></path><path d="M 0,400 C 0,400 0,300 0,300 C 119.60765550239233,286.755980861244 239.21531100478467,273.511961722488 327,271 C 414.78468899521533,268.488038277512 470.7464114832536,276.7081339712919 551,290 C 631.2535885167464,303.2918660287081 735.7990430622009,321.65550239234443 854,317 C 972.2009569377991,312.34449760765557 1104.0574162679427,284.66985645933016 1204,278 C 1303.9425837320573,271.33014354066984 1371.9712918660287,285.6650717703349 1440,300 C 1440,300 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="#9500ff" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-2"></path></svg>
<!-- <div class='px-0 custom-shape-divider-bottom-1666644715' style='position: relative'>
    <svg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'>
        <path d='M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z' class='shape-fill'></path>
    </svg>
</div> -->
<!-- <div class="row bg-purple" style="height: 10vh"></div> -->
<div class="row w-100 justify-content-md-end bg-purple pt-3 mx-0">
            <div class="col-6 offset-0 col-md-3 text-dark d-flex flex-column justify-content-center mt-0">
                <h1 class="display-1 font-weight-bold mb-3" style="font-weight:900">Backend Management is Hard,<br><span class="text-light">Let Us Help</span></h1>
                <form action="/contact" class="">
                    <button class="btn btn-lg btn-outline-light">Contact Us</button>
                </form>
            </div>
            <div class="col d-none d-md-block col-md-7 d-flex justify-content-center mt-0 ps-5">
                <img class="img-fluid floating" src="images/sittingCalm.svg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="custom-shape-divider-bottom-1679472683 bg-purple" style="position:relative">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>
<div class="row d-flex align-items-center">
    <div class="col">
        <img src="images/CodeOk.svg" alt="" class="img-fluid floating mx-0 mx-md-auto px-0 px-md-auto">
    </div>  
    <div class="col-7  mx-0 mx-md-auto px-0 px-md-auto">
        <h1 class="display-md-1 display-4 font-weight-bold mb-3" style="font-weight:900">Design Your Pages,<br><span class="text-purple">We'll handle the functionality</span></h1>
        <form action="/contact" class="">
            <button class="btn-outline-purple btn btn-lg">Find out more</button>
        </form>
    </div>
</div>