<% layout('tailwind/layout/userBoilerplate') %>
<h1 class="text-4xl font-thin bg-gray-800 text-white text-center">Shipping Info</h1>

<!-- drawer init and toggle -->
<div class="text-center"></div>

<!-- drawer component -->
