<% layout('layout/boilerplate') %>
<h1 class="text-center">Dashboard for <%=user.username%></h1>
<div class="row justify-content-center">
    <div class="col-5 text-center"><h1>Products</h1>
        
    </div>
    <div class="col-5 text-center"><h1>Sales</h1></div>
</div>