<% layout('layout/boilerplate') %>
<div class="row">
	<div class="col-md-5">
		<h1 class="text-center text-purple">Login to Account</h1>
		<img class="img-fluid floating d-none d-md-block" src="/images/login.svg" alt="Card image cap">
	</div>
	<div class="col-1 d-none d-md-block"></div>
	<div class="col-md-5 px-5 px-md-0">
		<h1 class="text-center d-none d-md-block">Account Info:</h1>
		<form action="/users/login" method="POST">
			<div class="mb-3">
				<label class="form-label" for="username">Username</label>
				<input class="form-control" type="text" id="username" name="username" required />
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="password">Password</label>
				<input class="form-control" type="password" id="password" name="password" required />
				<div class="valid-feedback">Looks good!</div>
			</div>
			<p>Don't have and accout? <a href="/users/register">Create Account</a></p>

			<button class="btn btn-success">Login</button>
		</form>
	</div>
	</div>
</div>
