<% layout('layout/userBoilerplate') %>
<h1 class="display-1 text-center">New Product</h1>
<div class="row">
	<div class="col-8 offset-2">
		<a href="/users/<%=currentUser._id%>/Dashboard" class="fs-5" style="text-decoration: none"
			><i class="bi bi-caret-left"></i>Back to Dashboard</a
		>
		<form action="/users/<%=currentUser._id%>/new" method="POST" id="productForm">
			<div id="inputContainer">
				<div class="mb-3">
					<label class="form-label" for="name">Product Name</label>
					<input class="form-control" type="text" id="name" name="name" required />
					<div class="valid-feedback">Looks good!</div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="category">Product Category</label>
					<input class="form-control" type="text" id="category" name="category" required />
					<div class="valid-feedback">Looks good!</div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="description">Description</label>
					<textarea
						class="form-control"
						type="text"
						id="description"
						name="description"
						rows="3"
						required
					></textarea>
					<div class="valid-feedback">Looks good!</div>
				</div>
				<h5 class="display-5">Alternates</h5>
				<div class="row mb-3">
					<div class="col-4">
						<label class="form-label" for="alternate0">Alternate</label>
						<input
							class="form-control"
							type="text"
							id="alternate0"
							name="stock[0][alternate]"
							required
						/>
						<div class="valid-feedback">Looks good!</div>
					</div>
					<div class="col-4">
						<label for="qunatity0" class="form-label">Quantity Available</label>
						<input
							class="form-control"
							type="number"
							id="quantity0"
							name="stock[0][quantity]"
							required
						/>
						<div class="valid-feedback">Looks good!</div>
					</div>
					<div class="col-4">
						<label for="price0" class="form-label">Price</label>
						<div class="input-group">
							<div class="input-group-text">$</div>
							<input
								type="number"
								class="form-control"
								id="price0"
								name="stock[0][price]"
								required
							/>
						</div>
						<div class="valid-feedback">Looks good!</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-primary" onclick="createInput()">Add Stock</button>

			<button class="btn btn-success">Create</button>
		</form>
	</div>
</div>

<script>
	let stockCount = 0;
	function createInput() {
		stockCount++;
		let textInput = document.createElement('div');
		textInput.innerHTML = `<div class="col-4"><label class="form-label" for="alternate${stockCount}">Alternate</label><input class="form-control" type="text" id="alternate${stockCount}" name="stock[${stockCount}][alternate]" required /><div class="valid-feedback">Looks good!</div></div><div class="col-4"><label for="quantity${stockCount}" class="form-label">Quantity Available</label><input class="form-control" type="number" id="qunatity${stockCount}" name="stock[${stockCount}][quantity]" required /><div class="valid-feedback">Looks good!</div></div><span class="col-4"><label for="price${stockCount}" class="form-label">Price</label><div class="input-group"><div class="input-group-text">$</div><input type="number" class="form-control rounded-end" id="price${stockCount}" name="stock[${stockCount}][price]" required></span><span class="d-flex ms-2"><button type="button" class="btn-close align-self-end mb-2" onClick="removeInput(${stockCount})"></button></span><div class="valid-feedback">Looks good!</div></div>`;
		textInput.id = `input${stockCount}`;
		textInput.classList.add('row', 'mb-3');
		document.getElementById('inputContainer').appendChild(textInput);
	}
</script>
<script>
	function removeInput(id) {
		const element = document.getElementById(`input${id}`);
		element.remove();
	}
</script>

<!-- <div class="col-1 d-flex"><button type="button" class="btn btn-danger align-self-end" onclick="removeInput(${stockCount})">remove</button></div> -->
