<% layout('layouts/adminLayout') %>
<h1>New Product</h1>
<div class="row">
	<div class="col-8 offset-2">
		<form action="/admin/products/new" method="POST" id="productForm">
			<div id="inputContainer">
				<div class="mb-3">
					<label class="form-label" for="name">Product Name</label>
					<input class="form-control" type="text" id="name" name="name" required />
					<div class="valid-feedback">Looks good!</div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="category">Product Category</label>
					<input class="form-control" type="category" id="category" name="category" required />
					<div class="valid-feedback">Looks good!</div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="price">Price</label>
					<input class="form-control" type="category" id="price" name="price" required />
					<div class="valid-feedback">Looks good!</div>
				</div>
				<div class="row mb-3">
					<div class="col-6">
						<label class="form-label" for="stock0">Size</label>
						<input class="form-control" type="text" id="stock0" name="stock[0][size]" required />
						<div class="valid-feedback">Looks good!</div>
					</div>
					<div class="col-6">
						<label for="qunatity0" class="form-label">Quantity</label>
						<input
							class="form-control"
							type="number"
							id="quantity0"
							name="stock[0][quantity]"
							required
						/>
						<div class="valid-feedback">Looks good!</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-primary" onclick="createInput()">Add Stock</button>

			<button class="btn btn-success">Create</button>
		</form>
	</div>
</div>

<script>
	let stockCount = 0;
	function createInput() {
		stockCount++;
		let textInput = document.createElement('div');
		textInput.innerHTML = `<div class="col-6"><label class="form-label" for="stock${stockCount}">Size</label><input class="form-control"type="text"id="stock${stockCount}"name="stock[${stockCount}][size]"required/><div class="valid-feedback">Looks good!</div></div><div class="col-5"><label for="qunatity${stockCount}" class="form-label">Quantity</label><input class="form-control d-inline"type="number"id="quantity${stockCount}"name="stock[${stockCount}][quantity]"required/><div class="valid-feedback">Looks good!</div></div><div class="col-1 d-flex"><button type="button" class="btn btn-danger align-self-end" onclick="removeInput(${stockCount})">remove</button></div>`;
		textInput.id = `input${stockCount}`;
		textInput.classList.add('row', 'mb-3');
		document.getElementById('inputContainer').appendChild(textInput);
	}
</script>
<script>
	function removeInput(id) {
		const element = document.getElementById(`input${id}`);
		element.remove();
	}
</script>
