<% layout('layout/userBoilerplate') %>
<div class="row">
	<h1 class="display-3 text-center">Payment</h1>
</div>
<div class="row">
	<form action="/users/<%=user._id%>/orders/paymentSelect"></form>
</div>
