<% layout('layout/userBoilerplate') %>

<div class="row my-5">
	<form
		action="/users/<%=user._id%>/orders/shippingInfo"
		method="POST"
		class="col-8 offset-2 rounded shadow"
	>
		<div class="row">
			<div class="col-3 text-start align-self-center fs-5">
				<a href="/users/<%=user._id%>/orders/newOrder" style="text-decoration: none"
					><i class="bi bi-caret-left"></i>Back to Order</a
				>
			</div>
			<div class="col"><h1 class="display-4 mb-2 text-center">Shipping Info</h1></div>
			<div class="col"></div>
		</div>
		<div class="row mb-3 pt-3">
			<div class="col">
				<input
					class="form-control"
					name="customer[firstName]"
					type="text"
					placeholder="First Name"
					required
				/>
			</div>
			<div class="col">
				<input
					class="form-control"
					name="customer[lastName]"
					type="text"
					placeholder="Last Name"
					required
				/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<input
					class="form-control mb-3"
					type="text"
					name="customer[phone]"
					placeholder="Phone Number"
					required
				/>
				<input
					class="form-control mb-3"
					type="email"
					name="customer[email]"
					placeholder="Email"
					required
				/>
				<input
					class="form-control mb-3"
					type="text"
					name="address[street]"
					placeholder="Address"
					required
				/>
				<input
					class="form-control mb-3"
					type="text"
					name="address[streetTwo]"
					placeholder="Address 2"
				/>
				<input
					class="form-control mb-3"
					type="text"
					name="address[city]"
					placeholder="City"
					required
				/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<input
					class="form-control mb-3"
					name="address[zipcode]"
					type="text"
					placeholder="Zipcode"
					required
				/>
			</div>
			<div class="col">
				<input
					class="form-control mb-3"
					name="address[state]"
					type="text"
					placeholder="State"
					required
				/>
			</div>
		</div>
		<div class="row d-flex justify-content-end mb-3">
			<div class="col-2 justify-content-end">
				<a href="/users/<%=user._id%>/orders/customerInfo"
					><button
						action="button"
						type="button"
						id="shippingToggle"
						class="btn btn-warning align-self-end text-decoration-none"
					>
						No Shipping
					</button></a
				>
			</div>
			<div class="col-2">
				<button class="btn btn-primary align-self-end">Continue</button>
			</div>
		</div>
	</form>
</div>
